---
# Must be set to the key pair name of the file passed to playbook
KEYPAIR: "Key Pair Name"

# CentOS7 2015-09-28 us-east-1
# Must be changed to region local AMI for all other regions
IMAGE: "ami-61bbf104"
REMOTE_USER: "centos"

INSTANCE_TYPE: "t2.medium"
VOL_TYPE: "gp2"
VOL_SIZE: 30
EC2_REGION: "{{ EC2_REGION }}"
ENABLE_DEBUG: "false"
INSTALL_DOCKER: "true"
INSTALL_CLI: "true"
NODE_SECURITY_GROUP: "{{ node_sg.group_id }}"
AZ_SEED: "{{ vpc.subnets[0].az }}"
SUBNET_SEED: "{{ vpc.subnets[0].id }}"
AZ_SN1: "{{ vpc.subnets[1].az }}"
SUBNET1: "{{ vpc.subnets[1].id }}"
AZ_SN2: "{{ vpc.subnets[2].az }}"
SUBNET2: "{{ vpc.subnets[2].id }}"
ELB: "{{ elb.elb.name }}"
TAG_NAME: "ConductR Node"
CONDUCTR_PKG: "conductr-1.0.17-systemd.noarch.rpm"
CONDUCTR_HAPROXY_PKG: "conductr-haproxy-1.0.17-systemd.noarch.rpm"
download_url: "http://download.oracle.com/otn-pub/java/jdk/8u5-b13/jdk-8u5-linux-x64.tar.gz"
download_folder: "/opt"
java_name: "{{download_folder}}/jdk1.8.0_05"
java_archive: "{{download_folder}}/jdk-8u5-linux-x64.tar.gz"
