---
# Must be set to the key pair name of the file passed to playbook
KEYPAIR: "Key Pair Name"

# This image is Ubuntu 14.04 LTS amd64 hvm:ebs-ssd in us-east-1
# Must be changed to region local Ubuntu AMI for all other regions
IMAGE: "ami-f7136c9d"

REMOTE_USER: "ubuntu"
INSTANCE_TYPE: "t2.medium"
VOL_TYPE: "gp2"
VOL_SIZE: 30
EC2_REGION: "{{ EC2_REGION }}"
ENABLE_DEBUG: "false"
INSTALL_DOCKER: "true"
INSTALL_CLI: "true"
NODE_SECURITY_GROUP: "{{ node_sg.group_id }}"
AZ_SEED: "{{ vpc.subnets[0].az }}"
SUBNET_SEED: "{{ vpc.subnets[0].id }}"
AZ_SN1: "{{ vpc.subnets[1].az }}"
SUBNET1: "{{ vpc.subnets[1].id }}"
AZ_SN2: "{{ vpc.subnets[2].az }}"
SUBNET2: "{{ vpc.subnets[2].id }}"
ELB: "{{ elb.elb.name }}"
TAG_NAME: "ConductR Node"
CONDUCTR_PKG: "conductr_1.0.17_all.deb"
CONDCUTR_HAPROXY_PKG: "conductr-haproxy_1.0.17_all.deb"
