---
- name: Copy ConductR
  synchronize: src=conductr/files/{{ CONDUCTR_PKG }} dest={{ REMOTE_WORK_DIR }}

- name: Install ConductR
  apt: deb={{ REMOTE_WORK_DIR }}/{{ CONDUCTR_PKG }}

- command: rm {{ REMOTE_WORK_DIR }}/{{ CONDUCTR_PKG }}

- name: Setup Python
  apt: name={{ item }} state=latest
  with_items:
    - python3-pip

- name: Setup for CLI
  apt: name={{ item }} state=latest
  with_items:
    - python-dev
    - python-setuptools

- shell: "hostname -i"
  register: host_ip

- name: Install ConductR CLI
  command: pip3 install -U conductr-cli
  become: yes
  become_method: sudo

- shell: 'echo -Dconductr.ip=$(hostname -i) | sudo tee -a /usr/share/conductr/conf/conductr.ini'
  become: yes
  become_method: sudo

- shell: 'echo --seed {{ groups.seeds_private[0]}}:9004 | sudo tee -a /usr/share/conductr/conf/conductr.ini'
  with_items: "{{ groups.seeds_public }}"
  become: yes
  become_method: sudo
  when: item != "{{ inventory_hostname }}"

- shell: 'echo -Dakka.loglevel=debug | sudo tee -a /usr/share/conductr/conf/conductr.ini'
  become: yes
  become_method: sudo
  when: "{{ ENABLE_DEBUG }} == true"

- shell: 'echo export CONDUCTR_IP=$(hostname -i) | sudo tee -a /etc/profile'
  become: yes
  become_method: sudo

- shell: "echo '$ModLoad imtcp' | sudo tee -a /etc/rsyslog.d/conductr.conf"
  become: yes
  become_method: sudo

- shell: "echo '$InputTCPServerRun 514' | sudo tee -a /etc/rsyslog.d/conductr.conf"
  become: yes
  become_method: sudo

# Sorry handlers, gotta do these now for ELB
- service: name=conductr state=restarted
- service: name=rsyslog state=restarted

- wait_for: host={{ host_ip.stdout }}
            port=9005
            state=started
